:root{
  --background-color: white;
  --navbar-color: #5F5F5F;
  --dropdown-color: #3C3B3B;
  --font-familiy: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-size: 12pt;
  --color: black;
  --submitBtnColor: transparent;
}

:root[data-theme='dark']{
  --background-color: #121212;
  --color: white;
  --navbar-color: #5F5F5F;
  --dropdown-color: #3C3B3B;
  --font-familiy: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-size: 12pt;
  --submitBtnColor: var(--color);
}


body {
  font-family: var(--font-familiy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
  height: 100vh;
  margin: 0;
  background-color: var(--background-color, white);
  /* font-size: var(--font-size, 5.5vw); */
  color: var(--color);
}

/* navigation */
nav{
  -webkit-app-region: drag;
  -webkit-user-select: none;
  width: 100vw;
  height: 40px;
  background-color: var(--navbar-color);
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.right-nav-link{
  -webkit-app-region: no-drag;
  padding: 10px;
  cursor: pointer;
  height: 100%;
  font-size: 1.3rem;
}

/* .right-nav-link:hover{
  background-color: red;
} */

#closeWindow:hover{
  background-color: red;
}

#minimizeWindow:hover{
  background-color: rgb(198, 204, 238)
}

.right-nav{
  height: 100%;
  overflow: hidden;
}

.left-nav{
  display: flex;
  height: 100%;
}


.left-nav-link{
  height: 100%;
  -webkit-app-region: no-drag;

  padding-right: 10px;
}


/* [class *="dark"] {
  --background-color: black;
  --font-familiy: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-size: 10vw;
} */

/* Dropdown Button */
.dropbtn {
  height: 100%;
  background-color: var(--navbar-color);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  height: 100%;
  position: relative;
  /* display: inline-block; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dropdown-color);
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content div {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: rgb(0, 68, 255);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: var(--dropdown-color);}

/* #styleOne:hover{
  --background-color: black;
  --color: white;
  --font-familiy: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-size: 10pt;
} */

.inputContainer{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.inputField{
  width: fit-content;
  background-color: rgba(221, 221, 221, 0.534);
  /* background: transparent; */
  font-size: 3vw;
  max-width: 70vw;
  min-width: 70vw;
  border: none;
  border-bottom: solid;
}

.inputField::placeholder{
  font-size: 3vw;
  color: var(--color);
}

.inputField:focus{
  outline: none;
}

.submitBtn{
  margin-left: 10px;
  padding: 3vw;
  border: none;
  background-image: url("../src/images/add.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--submitBtnColor);
  border-radius: 50%;
  cursor: pointer;
}

#mainContainer {
  padding-right: 10%;
  padding-left: 10%;
}


div[class*="item"]{
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: fit-content;
  align-items: center;
}

div[class*="item"]:focus{
  background-color: #5F5F5F;
  
}

div[class*="item"] button{
  -webkit-app-region: no-drag;
  align-self: center;
  border: solid;
  border-width: 0.01em;
  border-radius: 50%;
  cursor: pointer;
  padding: var(--font-size);
  font-size: var(--font-size);
  margin: 5px;
}

div[class*="item"] button.success{
  background-color: green;
}

div[class*="item"] [class*="close"]{
  -webkit-app-region: no-drag;
  /* font-size: 4vw; */
  cursor: pointer;
  margin: 10px;
  font-size: var(--font-size);
}

div[class*="item"] [class*="text"]{
  -webkit-app-region: no-drag;
  /* background-color: rgb(102, 102, 102); */
  font-family: 'Caveat', cursive;
  hyphens: manual;
  font-size: var(--font-size);
  /* font-size: x-large; */
  /* font-size: 1.3rem; */
  padding: 10px;
  text-align: left;
  max-width: 13rem;
  /* min-width: 13rem; */
  max-width: 70vw;
  min-width: 70vw;
  margin: 10px;
  /* flex-grow: 0.5; */
}

div[class*="item"] [class*="text"].success{
  text-decoration: line-through;
  text-decoration-thickness: 0.1em;
  color: green;
}

/* @media (prefers-color-scheme: dark) {
  body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
} */